.custom-select {
  position: relative;

  width: 100%;
  cursor: pointer;
}

.selected-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 5px;
}

.select-dropdown {
  position: absolute;
  left: -2px;
  right: -2px;
  top: 40px;

  border: 2px solid var(--default);
  background-color: #fff;
}

.select-dropdown__item {
  padding-bottom: 10px;
  padding-top: 5px;
  display: flex;
  padding-left: 12px;
  gap: 5px;

  cursor: pointer;
  transition: 0.1s ease-in;
  &:hover {
    background-color: var(--default);
    color: #fff;
  }
}

.selected-option__arrow {
  transform: rotate(0);

  transition: 0.2s ease-in;

  &.rotate {
    transform: rotate(180deg);
  }
}
