.search-bar__input-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;

  background-color: var(--white);
  padding: 3px 6px;
  border-radius: 50px;

  label {
    height: 25px;
  }
}

.search-bar__input {
  max-width: 250px;

  border: none;
  outline: none;

  font-size: 18px;
  font-family: inherit;
  cursor: text;
}

.search-bar__suggestions {
  margin-top: 10px;
  background-color: var(--white);
  color: var(--default);
  border: 2px solid var(--dark-red);
}

.search-bar__suggestion {
  padding: 10px;

  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: var(--dark-red);
    color: var(--white);
  }
}
