.search-bar__input-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;

  background-color: var(--white);
  padding: 3px 6px;
  border-radius: 50px;
  width: 100%;

  label {
    height: 25px;
  }
}

.search-bar__form {
  max-width: 300px;
  width: 100%;
}

.search-bar__input {
  width: 100%;

  border: none;
  outline: none;

  font-size: 18px;
  font-family: inherit;
  cursor: text;
}

.search-bar__suggestions {
  position: absolute;
  margin-top: 10px;
  background-color: var(--white);
  color: var(--default);
  border: 2px solid var(--dark-red);

  overflow-y: scroll;
  max-height: 25vh;
  max-width: 300px;
  width: 100%;
}

.search-bar__suggestion {
  padding: 10px;

  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: var(--dark-red);
    color: var(--white);
  }
}
