.area-list {
  padding: 30px 0;
}

.area-list__title {
  font-size: 46px;
  font-weight: 900;
  margin-bottom: 10px;
}

.area-list__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.area-list__grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;

  font-size: 20px;
  color: #fff;
  text-align: center;

  background-color: #4e2d21;
  border-radius: 50px;

  cursor: pointer;

  transition: background-color 0.2s ease-in;
  &:hover {
    background-color: #663e2f;
  }
}

.area {
  padding: 30px 0;
}

.area__title {
  font-size: 46px;
  font-weight: 900;
  margin-bottom: 10px;
}

.area__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.area__grid-item {
  cursor: pointer;

  &:hover {
    .area__grid-item__img-title {
      color: var(--red-accent);
    }

    .area__grid-item__img {
      overflow: hidden;
    }
    img {
      transition: transform 0.2s ease-in;
      transform: scale(1.05);
    }
  }
}

.area__grid-item__img {
  margin-bottom: 5px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.area__grid-item__img-title {
  font-size: 20px;
}

.area__grid-item__img {
  background-color: #4e2d21;
  img {
    height: 100%;
    display: block;
  }
}
