.favorites {
  padding: 30px 0;

  .empty {
    text-decoration: none;
  }
}

.favorites__title {
  margin-top: 10px;
  font-size: 46px;
  font-weight: 900;
}

.favorites__content-stats {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}

.favorites__content {
  margin-top: 40px;
}

.favorites__grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.favorites__grid-card {
  display: flex;
  flex-direction: column;
  background-color: var(--default);
  color: #fff;
  padding: 20px;
  border-radius: 10px;

  transition: 0.2s ease-in;
  &:hover {
    scale: 1.03;
  }
}

.favorites__grid-card__heading {
  margin-bottom: 10px;
  display: flex;
  align-items: start;
  justify-content: space-between;

  h3 {
    cursor: pointer;
  }

  .favorite-remove {
    cursor: pointer;
    color: var(--accent);

    transition: 0.2s ease-in;
    &:hover {
      scale: 1.2;
    }
  }
}

.favorites__grid-card__img {
  margin-top: auto;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}
