.home {
  padding: 20px 0;
}

.home__title {
  margin-bottom: 10px;
  font-size: 24px;
}

.home__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.home__item {
  cursor: pointer;
  .home__item-title {
    font-size: 36px;
    font-weight: 900;
  }

  &:hover {
    .home__item-title {
      color: var(--red-accent);
    }

    .home__item-img__wrapper {
      overflow: hidden;
    }
    img {
      transition: transform 0.2s ease-in;
      transform: scale(1.05);
    }
  }
}

.home__grid-categories__title {
  margin-bottom: 10px;
}
.home__grid-categories__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  max-width: 215px;

  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    .home__grid-categories__item-title {
      color: var(--red-accent);
    }

    .home__grid-categories__item-wrapper {
      overflow: hidden;
    }
    img {
      transition: transform 0.2s ease-in;
      transform: scale(1.05);
    }
  }
}

.home__grid-categories__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  gap: 20px;
}

.home__grid-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
