.ingredient-list {
  padding: 30px 0 50px;
}

.ingredient-list__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ingredient-list__title {
  font-size: 46px;
  font-weight: 900;
  margin-bottom: 10px;
}

.ingredient-list__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.ingredient-list__grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;

  font-size: 20px;
  color: #fff;
  text-align: center;

  background-color: #4e2d21;
  border-radius: 50px;

  cursor: pointer;

  transition: background-color 0.2s ease-in;
  &:hover {
    background-color: #663e2f;
  }
}

.area {
  padding: 30px 0;
}

.area__title {
  font-size: 46px;
  font-weight: 900;
  margin-bottom: 10px;
}

.ingredient__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.ingredient__grid-item {
  cursor: pointer;
  width: 282.5px;
  height: 313.5px;

  &:hover {
    .ingredient__grid-item__img-title {
      color: var(--red-accent);
    }

    .ingredient__grid-item__img {
      overflow: hidden;
    }
    img {
      transition: transform 0.2s ease-in;
      transform: scale(1.05);
    }
  }
}

.ingredient__grid-item__img {
  margin-bottom: 5px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.ingredient__grid-item__img-title {
  font-size: 20px;
}

.ingredient__grid-item__img {
  background-color: #4e2d21;
  img {
    height: 100%;
    display: block;
  }
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pagination-btn {
  background-color: var(--dark-red);
  color: var(--white);
  border: none;
  cursor: pointer;

  &:disabled {
    background-color: var(--default);
    color: rgba(209, 209, 209, 0.5);
    cursor: default;
    &:hover {
      transform: scale(1);
    }
  }

  transition: transform 0.2s ease-in;
  &:hover {
    transform: scale(1.1);
  }
}

.page-info {
  font-size: 18px;
}

.ingredient-meals {
  padding: 30px 0;
}

.ingredient-meals__title {
  font-size: 46px;
  font-weight: 900;
  margin-bottom: 10px;
}

.ingredient-meals__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.ingredient-meals__grid-item {
  cursor: pointer;

  &:hover {
    .ingredient-meals__grid-item__img-title {
      color: var(--red-accent);
    }

    .ingredient-meals__grid-item__img {
      overflow: hidden;
    }
    img {
      transition: transform 0.2s ease-in;
      transform: scale(1.05);
    }
  }
}

.ingredient-meals__grid-item__img {
  margin-bottom: 5px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.ingredient-meals__grid-item__img-title {
  font-size: 20px;
}

.ingredient-meals__grid-item__img {
  background-color: #4e2d21;
  img {
    height: 100%;
    display: block;
  }
}
