.header {
  background-color: var(--default);
  color: var(--white);
  padding: 20px 0;

  position: sticky;
  top: 0;
  z-index: 99;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Syne;

  svg {
    margin-bottom: 2px;
  }

  div {
    font-size: 36px;
    font-weight: 700;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav__list-item {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;

  height: 30px;
  cursor: pointer;

  &:not(:last-child) {
    padding-top: 2px;
  }

  &:not(:last-child):hover a {
    border-bottom: 2px solid var(--accent);
  }

  .lucide-chevron-down {
    transition: 0.2s ease-in;
  }

  .nav__list-item__icon-rotated {
    transform: rotate(180deg);
  }
}

.dropdown {
  background-color: var(--white);
  padding: 20px 0;
  position: fixed;
  top: 83px;
  z-index: 90;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
  transition: all 0.3s ease-in;
  max-height: 0;
  overflow: hidden;
  width: 100%;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    max-height: 200px;

    transition: all 0.3s ease-in;
  }
}

.dropdown__row {
  max-width: 785px;
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.dropdown__item {
  width: 100%;
}

.dropdown__list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown__list-item {
  font-size: 18px;

  transition: 0.2s ease-in;
  &:hover {
    color: var(--red);
  }
}

.dropdown__item-title {
  font-size: 18px;
  font-weight: 700;
}

.dropdown__item-header {
  display: flex;
  align-items: center;
  gap: 25px;
}

.dropdown__item-link {
  color: var(--red-accent);
  font-weight: 500;
  text-decoration: underline;
}

.gray {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);

  z-index: 9;
}
