.pantry-modal {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.pantry-modal__form {
  background-color: var(--default);
  color: #fff;
  padding: 30px 40px 40px;
  border-radius: 10px;

  max-width: 600px;
  width: 100%;
}

.pantry-modal__form-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.pantry-modal__form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;

  input,
  select {
    padding: 5px;
    font-size: 16px;
    outline: none;

    &:focus {
      outline: 2px solid var(--red-accent);
    }
  }

  textarea {
    resize: vertical;
    padding: 5px;
    font-size: 16px;
    outline: none;
    margin-bottom: 10px;
  }
}

.pantry-modal__form-btn {
  button {
    width: 100%;
    padding: 8px;

    color: #fff;
    font-size: 18px;
    font-weight: 600;

    background-color: var(--red-accent);
    border: none;
    cursor: pointer;

    transition: 0.2s ease-in;
    &:hover {
      filter: brightness(1.1);
    }
  }
}
