* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Geist;
  src: url(./assets/fonts/Geist-VariableFont_wght.ttf);
}
@font-face {
  font-family: Syne;
  src: url(./assets/fonts/Syne-VariableFont_wght.ttf);
}

body {
  font-family: Geist;
  font-variant-numeric: tabular-nums;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  font-family: inherit;
}
button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

*::-webkit-scrollbar {
  width: 10px;
  background: var(--dark-red);
}
*::-webkit-scrollbar-track {
  background: var(--dark-red);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 4px;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--red-accent);
}
